@import "tailwindcss";

@theme {
    --breakpoint-xs: 30rem;
    --breakpoint-2xl: 96rem;
    --breakpoint-3xl: 120rem;

    /* Colors */
    --color-primary: var(--color-primary);
    --color-body: var(--color-body);
    --color-secondary: var(--color-secondary);
    --color-accent: var(--color-accent);
    --color-background: var(--color-background);
    --color-box: var(--color-box);

    --font-display: "Libre Baskerville", serif;
    --font-body: "Syne", sans-serif;

    --shadow-modal: 27px 34px 38px 0 rgba(0, 0, 0, 0.12);

    /* Animations */
    --animate-slide-up: slide-up 0.45s cubic-bezier(0.2, 0, 0.2, 1) forwards;
    --animate-fade-up: fade-up 1s 0.5s cubic-bezier(0.2, 0, 0.1, 1) forwards;

    /* Shadows */
    --shadow-sm: 2px 2px 3px rgba(0, 0, 0, 0.03);

    @keyframes slide-up {
        from {
            transform: translateY(15px);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes fade-up {
        from {
            transform: translateY(10px) scaleY(1.08);
            opacity: 0;
        }
        to {
            opacity: 1;
            transform: none;
        }
    }
}

@layer base {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-display;
    }
}

@utility container {
    padding: 0 1rem;
    max-width: var(--container-width);
    margin: 0 auto;

    @media only screen and (min-width: 30rem) {
        padding: 0 2rem;
    }
}

@layer utilities {
    /* input range slider */

    .slider {
        @apply w-full h-1 bg-accent rounded-lg appearance-none cursor-pointer;
    }

    .slider::-webkit-slider-thumb {
        @apply appearance-none w-6 h-6 bg-primary rounded-full transition-all hover:bg-primary/80;
    }

    .slider::-moz-range-thumb {
        @apply appearance-none w-6 h-6 bg-primary rounded-full transition-all hover:bg-primary/80;
    }

    .slider::-ms-thumb {
        @apply appearance-none w-6 h-6 bg-primary rounded-full transition-all hover:bg-primary/80;
    }
}
