h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Libre Baskerville", serif;
}

/* h1 {
    font-size: 2.5rem;
    font-weight: bold;

    @media only screen and (min-width: 1024px) {
        font-size: 4.375rem;
    }
} */

h2 {
    /* font-size: 2.5rem;

    @media only screen and (min-width: 1024px) {
        font-size: 3.125rem;
    } */
}

h3 {
    font-size: 2rem;

    /* @media only screen and (min-width: 1024px) {
        font-size: 2.375rem;
    } */
}

p {
    font-family: "Syne", sans-serif;
}
