:root {
    /* Colors */
    --color-light: #ffffff;
    --color-dark: #000000;
    --color-background: #accfdc;
    --color-heading: #000000;
    --color-body: #7a7475;
    --color-primary: #072847;
    --color-secondary: #f68227;
    --color-accent: #accfdc;
    --color-box: rgba(255, 249, 244, 0.5);

    /* Gradients */
    --gradient-primary: radial-gradient(418.88% 131.44% at 1.84% 96.35%, #99bfcd 0%, #d2f3ff 100%);
    /* --gradient-primary: rgb(228, 228, 228); */

    --gradient-header: linear-gradient(180deg, rgba(172, 207, 220, 1) 40%, rgba(255, 255, 255, 0) 100%);

    /* Sizes */
    --container-width: 75rem;
    --header-height: 4rem;

    --font-display: "Libre Baskerville", serif;
    --font-body: "Syne", sans-serif;

    @media (min-width: 64rem) {
        /* --header-height: 6.5rem; */
    }
}
